@model RaphasMovieReview.Models.Review

@{
    ViewBag.Title = @Model.MovieName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.MovieName</h2> 
<h4>
    @for (int i = 0; i < Model.Rating; i++)
    {
        <text>★</text>
    }
</h4>

<div class="row">
    
    <hr />
    <div class="col-md-4">
        <img src="@Model.CoverURL" style="height:400px;" />
    </div>

    <div class="col-md-8">
        <p>@Model.ReviewText</p>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
